body {
	background: #123;
}

body div {
		height: 400px;
		width: 400px;
		background: #123;
		color: red;
	}

body #root {
	color: red;
}

.img {
	height: 100px;
	width: 100px;
	transform: translateY(100px);
}

.box {
	color: red;
}